{% extends "admin/admin.html.twig" %}

{% block title "Modifier la recette: " ~ recipe.title %}

{% block body %}
    <h1>Modifier la recette: {{ recipe.title}}</h1>

    <p>
        <img src="/recettes/images/{{recipe.thumbnail}}" alt="">
    </p>

 {{ form(form) }}

{% endblock %}